.boxOne{
  background-color:#19EAC4;
  width: 220px;
  height: 250px;
  position:relative;
  border-radius:0.5rem;
}

.proImg{
  position: absolute;
  left: 22px;
  top: 90px;
  width:120px;
  height:90px;
}
.boxOne{
  margin-left:150px
}
.readmeBtn{
  background-color: #19EAC4;
  padding:10px;
  border:0px;
  
}